.bs-table {
    margin: 0;
}


.bs-table thead tr th {
    color: #fff;
    background-color:peru;
}

.bs-table .bs-price {
    text-align: right;
}

.bs-table .bs-center {
    text-align: center;
}

.name {
    text-align: center;
}